# Gradle
/.gradle/
/build/

# IntelliJ
/.idea/*
!/.idea/codeStyles
!/.idea/inspectionProfiles
/out/

# npm
/.github/actions/node_modules/

# Vim
.*.sw[nop]

# VS Code
.vscode/

# Operating Systems
.DS_Store
Thumbs.db
